In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../../../orginal_dataset/haunted_places_final_all_features.tsv", delimiter = "\t")
df.head()

/var/folders/2l/c66m7gc1573_pmbhvhdpkrhm0000gn/T/ipykernel_5556/4138769730.py:1: DtypeWarning: Columns (43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../../orginal_dataset/haunted_places_final_all_features.tsv", delimiter = "\t")

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude,...,NORP,PERCENT,WORK_OF_ART,MONEY,PRODUCT,ORG,DATE,FAC,EVENT,LAW
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727,...,[],[],['Ghosts of Grand Rapids'],[],[],[],['the turn of the 20th century'],"['Honeycreek Road', 'Findlay Cemetery', '2 Mil...",[],[]
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434,...,[],[],[],[],[],[],['The day'],[],[],[]
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547,...,[],[],[],[],[],[],[],['Gorman Rd.'],[],[]
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547,...,[],[],[],[],[],[],"['today', ""the 1970's""]",[],[],[]
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097,...,[],[],[],[],[],"['Kappa Delta Sorority', 'The Kappa Delta Soro...",[],[],[],[]

In [5]:
df.columns

Index(['city', 'country', 'description', 'location', 'state', 'state_abbrev',
       'longitude', 'latitude', 'city_longitude', 'city_latitude',
       'Audio Evidence', 'Image/Video/Visual Evidence', 'Haunted Places Date',
       'Haunted Places Witness Count', 'Time of Day', 'Apparition Type',
       'Event type', 'Alcohol Abuse Total Death of that State',
       'Alcohol % Under 21', 'Alcohol Number of Deaths Under 21', 'Sunrise',
       'Sunset', 'Daylight Hours', 'ZIP Code', 'Median Household Income',
       'Unemployment Rate (%)', 'Median Age', 'image_id', 'image_url',
       'image_timestamp', 'image_altitude', 'image_quality_score',
       'State 25+ Population', 'State% of High School Diploma',
       'State% of Bachelor's Degree', 'State% of Advanced Degree',
       'image_gen_prompt', 'image_gen_prompt_rex', 'image_file_name',
       'all_image_caption', 'caption_confidence', 'all_detected_objects',
       'objects_confidence', 'image_generation', 'image_caption',
       'detected_objects', 'parse_text', 'Geographic_LATITUDE',
       'Geographic_LONGITUDE', 'Geographic_NAME', 'Optional_LATITUDE1',
       'Optional_LONGITUDE1', 'Optional_NAME1', 'Optional_LATITUDE2',
       'Optional_LONGITUDE2', 'Optional_NAME2', 'LOC', 'QUANTITY', 'PERSON',
       'CARDINAL', 'TIME', 'GPE', 'ORDINAL', 'LANGUAGE', 'NORP', 'PERCENT',
       'WORK_OF_ART', 'MONEY', 'PRODUCT', 'ORG', 'DATE', 'FAC', 'EVENT',
       'LAW'],
      dtype='object')

In [7]:
filtered_df = df[["city", "state", "State% of Bachelor's Degree"]]

In [9]:
filtered_df.columns

Index(['city', 'state', 'State% of Bachelor's Degree'], dtype='object')

In [11]:
filtered_df.head()

      city     state  State% of Bachelor's Degree
0      Ada  Michigan                        31.67
1  Addison  Michigan                        31.67
2   Adrian  Michigan                        31.67
3   Adrian  Michigan                        31.67
4   Albion  Michigan                        31.67

In [13]:
count = filtered_df.groupby(['state', 'city']).size().reset_index(name='count')

In [15]:
count.head()

     state         city  count
0  Alabama   Adamsville      2
1  Alabama    Alabaster      1
2  Alabama  Albertville      6
3  Alabama    Andalusia      1
4  Alabama     Anniston      5

In [17]:
count["merge"] = count["city"] + " " + count["state"]

In [19]:
subset_df = df[['city', 'state', 'city_longitude', 'city_latitude']].drop_duplicates()

In [21]:
subset_df["merge"] = subset_df["city"] + " " + subset_df["state"]

In [23]:
subset_df2 = subset_df[["city_longitude", "city_latitude", "merge"]]
merged = pd.merge(count, subset_df2, on="merge", how="left")

In [25]:
merged.shape

(5454, 6)

In [27]:
merged = merged.drop('merge', axis=1)

In [29]:
merged.head()

     state         city  count  city_longitude  city_latitude
0  Alabama   Adamsville      2      -86.956106      33.600939
1  Alabama    Alabaster      1      -86.816377      33.244281
2  Alabama  Albertville      6      -86.208867      34.267594
3  Alabama    Andalusia      1      -86.483291      31.308504
4  Alabama     Anniston      5      -85.831632      33.659826

In [31]:
merged.isnull().sum()

state              0
city               0
count              0
city_longitude    26
city_latitude     26
dtype: int64

In [33]:
merged[merged[['city_latitude', 'city_longitude']].isnull().any(axis=1)]

,state,city,count,city_longitude,city_latitude
24,Alabama,Capper Center,1,NaN,NaN
41,Alabama,Fort Defiance,1,NaN,NaN
256,Arkansas,Saddle Community,1,NaN,NaN
263,Arkansas,Tazlina,1,NaN,NaN
272,California,<>Manteca,1,NaN,NaN
960,Florida,Pensacola/ Dasanai,1,NaN,NaN
1035,Georgia,Cynthiana,1,NaN,NaN
1068,Georgia,Kahilli Park,1,NaN,NaN
1088,Georgia,Merewether,1,NaN,NaN
1296,Illinois,Harpo Studios,1,NaN,NaN
1502,Indiana,Laborite,1,NaN,NaN
1570,Indiana,Reedsville,1,NaN,NaN
1614,Indiana,West Pittson,1,NaN,NaN
1735,Kansas,Diphtheria Hill,1,NaN,NaN
1778,Kansas,Rural Niotaze,1,NaN,NaN
2361,Michigan,Cockeysville,1,NaN,NaN
2435,Michigan,Kelloggsville,1,NaN,NaN
2626,Minnesota,Redford Township,1,NaN,NaN
2656,Minnesota,http://wcco.com/local/St.Paul.caves.2.360190.html,1,NaN,NaN
3143,New Mexico,Faribault,1,NaN,NaN
3545,North Dakota,Akra/Leroy,1,NaN,NaN
3565,North Dakota,Mandan outskirts,1,NaN,NaN
3674,Ohio,Kelly 92s Island,1,NaN,NaN
4077,Pennsylvania,Darktown,1,NaN,NaN
4971,Vermont,Streamwood,1,NaN,NaN
5076,Virginia,USS Siapan,1,NaN,NaN

In [35]:
print(f"Before dropping nulls: {merged.shape}")
merged = merged.dropna()
print(f"After dropping nulls: {merged.shape}")

Before dropping nulls: (5454, 5)
After dropping nulls: (5428, 5)

In [ ]:
merged.to_json("haunted_places_count.json", orient="records", indent=2)

In [37]:
filtered_df = filtered_df.drop('city', axis=1)

In [39]:
filtered_df = filtered_df.drop_duplicates()

In [41]:
print(filtered_df['state'].unique())

['Michigan' 'Pennsylvania' 'California' 'Massachusetts' 'Arkansas'
 'Oregon' 'Arizona' 'Maryland' 'Oklahoma' 'Maine' 'Alaska' 'Louisiana'
 'Alabama' 'Ohio' 'New Jersey' 'Washington DC' 'North Dakota' 'Wyoming'
 'North Carolina' 'Kentucky' 'Kansas' 'New York' 'Wisconsin' 'Iowa'
 'West Virginia' 'New Mexico' 'Washington' 'Illinois' 'Indiana' 'Virginia'
 'Idaho' 'New Hampshire' 'Vermont' 'Nevada' 'Hawaii' 'Utah' 'Nebraska'
 'Georgia' 'Texas' 'Montana' 'Tennessee' 'Florida' 'Missouri' 'Delaware'
 'South Dakota' 'Mississippi' 'Connecticut' 'Minnesota' 'South Carolina'
 'Rhode Island' 'Colorado']

In [43]:
filtered_df.shape

(51, 2)

In [ ]:
filtered_df.to_json("state_bachelors.json", orient="records", indent=2)